/* @media (max-width: 575.98px) { 

}

@media (max-width: 767.98px) { 

}
 */


@media (max-width: 1559.98px) { 
    .cont-mid{
        width: 100%;
        max-width: 75%; 
        display: flex;
    }
    .Home__list{
        margin-top: 40px;
    }
        .Home__list h1{
            font-size: 54px;
        }
    .content__left h3 {
        font-size: 19px;
    }
    .block-header h2{
        font-size: 42px;
    }
    .block-header p{
        font-size: 17px;
    }
    .Services__item .item-text {
        padding: 0px 7%;
    }
    .VideoBG{
        height: 420px;
    }
    .VideoBG__list__header h2{
        font-size: 30px;
    }
    .WeWork {
        /* height: 2100px; */
    }
    .WeWork__text .text {

    }
    .WeWork__text h3 {
        font-size: 22px;
    }
    .Pack__item{
        width: 30.5%;
    }
    .Testimonials__foto{
        width: 40%;
    }
    .Testimonials__text .text {
        padding: 4% 9% 0px 6%;
    }
    .Testimonials__text .text p:first-child{
        font-size: 15px;
    }
    .content__left h3 {
        font-size: 20px;
        padding: 5% 9% 0px;
    }
    .content__left .text p{
        padding: 0px 9%;
    }
    .content__right h3{
        font-size: 17px;
    }
    .WeWork__text:nth-child(1), .WeWork__text:nth-child(3) {
        margin-left: -57%;
    }
    .WeWork__text:nth-child(2), .WeWork__text:nth-child(4) {
        margin-left: 57%;
    }
    .Footer__content .logo p{

        font-size:55px;
        
    }
}
@media (max-width: 1209.98px) { 
    .cont-mid{
        width: 100%;
        max-width: 88%; 
        display: flex;
    }
    .list-items ul li{
        font-size: 14px;
    }
    .Home__list{
        margin-top: 0px;
    }
        .Home__list h1{
            font-size: 50px;
        }
    .content__left h3 {
        font-size: 19px;
    }
    .Footer__content .logo p{

        font-size:50px;
        
    }
}

@media (max-width: 991.98px) { 
    
    .list-items ul li{
        display: none;
    }
    .list-items ul li:last-child{
        display: flex;
    }


    /* /////////////////////////////////////////////////////////////////////// */


    .Home{
        min-height: 800px;
        height: auto;
    }
    .Home__list{
        margin: 0;
    }
    .Home__features__list{
        width: 100%;
        padding: 20px;
    }
    .feature__item{
        justify-content: center;
    }
    .feature__item .text {
        text-align: center;
        margin-top: 25px;
    }


    /* /////////////////////////////////////////////////////////////////////// */


    .AboutUS{
        height: auto;
      
    }
    .AboutUS__list{
        padding: 10% 0;
        justify-content: center;
    }
    .AboutUS .item__one{
        min-height: 250px;
       
        width: 70%;
    }
    .AboutUS .item__two{
        height: 50%;
        width: 70%;
        position: relative;
        box-shadow: none;
    }
    .AboutUS .item__two .item__text{
        padding: 5%;
        height: auto;
    }
    .AboutUS .item__two .item__text h2{
        font-size: 34px;
    }
    .AboutUS .item__two .item__border{
        height: 5px;
    }


    /* /////////////////////////////////////////////////////////////////////// */


    .Services{
        height:auto;
   
    }
        .Services__list{
            padding: 10% 0;
        }
            .Services__list__items{
                margin-top: 80px;
                min-height: auto;
               
                flex-direction: row;
                flex-wrap: wrap;
            }
                .Services__item{
                    width: 48%;
                    display: flex;
                    margin-bottom: 20px;
                }
                    .Services__item svg {
                        margin: 30px 0;
                        height: 50px;
                        width: 60px;
                    }
                    .Services__item h3 {
                        margin: 0px ;
                       
                    }
                    .Services__item .item-text {
                        padding: 7%;
                    }


    /* /////////////////////////////////////////////////////////////////////// */
    .Portfolio{
        height: auto;
    }
    .Portfolio__list{
        padding: 10% 0;
    }
    
    .Portfolio__items__list{
        margin-top: 80px;
        width: 100%;
       
        padding-bottom: 0px;
    }
        .Portfolio__item{
            width: 45%;
            height: 290px;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 20px;
            position: relative;
            overflow: hidden;
            
        } 



     /* /////////////////////////////////////////////////////////////////////// */


     .Stats{
        height: auto;
        background-position: center;
        background-size: cover;
    }
        .Stats__list{
            padding: 10% 0;
        }
        .Stats__list__items{
            justify-content: space-between;
        }
            .Stats__item{
                width: 23%;
            }
                .Stats__item svg:first-child{
                   
                }
                .Stats__item svg:last-child{
                    margin-top: 20px;

                }
                .Stats__item .count{
            
                }
                .Stats__item p{
                    /* padding: 0 9%; */
                    width: min-content;
                    text-align: center;
                    
                }

     /* /////////////////////////////////////////////////////////////////////// */


     .WeWork{
        display: flex;
        height: auto;
        background-color: rgb(232 242 251);
    }
    .WeWork__list{
        height:auto;
        padding-top: 0px;
        padding: 10% 0;
    }
    .WeWork__conts{
        width: 100%;
        height: max-content;
    }
        .WeWork__images{
            padding: 0px;
            width: 100%;
            height: 100%;
        }
            .WeWork__image{
                width: 100%;
                height:auto;
                max-height: 480px;
                min-height: 280px;
                background-size: cover;
            }
        .WeWork__texts{
            width: 100%;
            position: absolute;
            height:100%;
            justify-content: space-around;
        }
            .WeWork__text{
                width: 60%;
                height: auto;
            }
            .WeWork__text:nth-child(1), .WeWork__text:nth-child(3) {
                margin-left: -40%;
            }
            .WeWork__text:nth-child(2), .WeWork__text:nth-child(4) {
                margin-left: 40%;
            }
                .WeWork__text .text{
                    height: 98%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    margin: 0;
                    padding:  10% 5%;

                }
                .WeWork__text .border {
                    height: 2%;
                    width: 100%;
                    display: flex;
                }

      /* /////////////////////////////////////////////////////////////////////// */


    .Pricing{
        background-color: aliceblue;
        display: flex;
        height: auto;
    }
    .Pricing__list{
        height: auto;
        padding: 10% 0;
    }
        .Packs{
            display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            margin-top: 75px;
            position: relative;
            height: auto;
            width: 100%;
            
        }
            .Pack__item{
                height: auto;
                min-height: 600px;
                width: 48%;
                background-color: rgb(249 252 255);
                margin-bottom: 30px;
            }
            .Pack__item .border{
                bottom: 0;
                height: 1%;
                width: 100%;
                display: flex;
            }
            .Pack__item .TextandPrice{
                height: 99%;
                margin: 0px;
                justify-content: space-evenly;
            }
                .TextandPrice h3{
                    margin: 0px;
                }
                .TextandPrice p{
                    margin: 0px;
                }
                    .TextandPrice b{
                        margin: 0px;           
                    }
                    .TextandPrice p span{
                        margin: 0px;
                    }
                .TextandPrice button{

                }
                .TextandPrice svg{
                    margin: 0px;
                }

      /* /////////////////////////////////////////////////////////////////////// */

      .Testimonials{
        height:auto;
        justify-content: center;
        align-items: center;
    }
        .Testimonials__list{
            height: max-content;
            padding: 10% 0;
            justify-content: center;
            align-items: center;
        }
        .Testimonials .block-header h2,.Testimonials .block-header p{
 
        }
        .Testimonials__cont{
            margin-top: 55px;
            height: 500px;
            max-height: 600px;
        }
        .Testimonials__foto{
            display: flex;
            width: 42%;
            height: 100%;
            /* max-height: 390px; */
            background-size: cover;
            background-position: center;
        }
        .Testimonials__text{
            width: 58%;
            height: 78%;
            background-color: aliceblue;
            min-height: auto;
            position: relative;
        }

        .Testimonials__text .text{
            padding: 4% 6% 4% 6%;
            width: 100%;
            height: 99%;
        }
        
        .Testimonials__text svg{
            margin: 5px 0;
            width:100px;
            height: 35px;
        }
        .Testimonials__text .text p{
            line-height: 26px;
        }
        .Testimonials__text h3{
            font-size: 18px;
            font-weight: bold;
        }
        .Testimonials__text .post{
            font-size: 12px;
            font-weight: bold;
        }
        .Testimonials__text .border{
            height: 5px;
            width: 100%;
        }
        .CheckboxsP-A{
            right: 0;
            bottom: -38px;
            height:35px;
        }
        .CheckboxsP-A input{
            height: 20px;
            width: 20px;
            margin-left: 8px;
        }
        .CheckboxsP-A input[type="checkbox"]:checked{
            
        }
        .CheckboxsP-A input[type="checkbox"]:checked::after{
            height: 10px;
            width: 10px;
        }



      /* /////////////////////////////////////////////////////////////////////// */



      .WSU{
       
        height: auto;
    }
        .WSU__list{
            padding: 10% 0;
        }
        .WSU .block-header h2,.Testimonials .block-header p{
        }
        .WSU__content{
            display: flex;
            margin-top: 75px;
            width: 100%;
            align-items: center;
            flex-direction: column;
        }
        .WSU__items{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 30px;
    
        }
            .WSU__item{
                display: flex;
                flex-direction: column;
                width: 48%;
                margin-bottom: 30px !important;
            }
            .WSU__item .text{
               padding-right: 5%;
            }
            .WSU__item .item__header{
               
                margin-bottom: 12px;
            }
                .WSU__item .item__header svg{
                    width: 52px;
                    height: 52px;
                    margin-right: 10px;
                    
                   
                }
                .WSU__item .item__header svg use{
                    margin: 0 auto;
                }
                .WSU__item .item__header p{
                    display: flex;
                    width: max-content;
                    justify-content: center;
                    align-items: center;
                }
                .WSU__item:first-child{
                    /* margin-bottom: 0px; */
                }    
       /* /////////////////////////////////////////////////////////////////////// */


    .Blog{
        height: auto;
    }
        .Blog__list{
            height: auto;
            padding: 10% 0;
        }
        .Blog__content{
            display: flex;
            padding-top: 75px;
            height: auto;
            flex-direction: column;
        }
            .content__left{
                height: auto;
                width: 100%;
                margin-bottom: 20px;
            }
                .content__left .foto{
                  min-height: 300px;
                }
                    .content__left .foto-img{
                       
                    }
                    .content__left .foto-data{
                        width: 100%;
                        position: absolute;
                        display: flex;
                            align-items: center;
                            left: 5%;
                            bottom: 5%;
                        margin: 0;
                        z-index: 2;
                        
                    }
                        .content__left .name{
                            width: 20%;
                            text-transform: uppercase;
                            font-weight: bold;
                        }
                        .content__left .date{
                            width: max-content;
                            color: aliceblue;
                            font-size: 15px;
                        }
                .content__left .text{
                    height: 40%;
                    padding-top: 3%;
                }
                    .content__left h3{
                        padding:  0;
                        padding: 0 5%;
                        margin-bottom: 8px;
                    }
                    .content__left .text p{
                        padding: 0;
                        padding: 0 5%;
                        padding-bottom: 3%;
                    }
                    .content__left .border{
                        height: 3px;
                    }


            .content__right{
                width: 100%;
            }
                .content__right .item{
                    height:auto;
                    margin-bottom: 20px;
                }
                    .content__right .item__header{
                        padding: 3% 7% 0;
                    }
                        .content__right .item__data{

                        }
                            .content__right .name{
                                margin-right: 25px;
                                width: max-content;
                            }
                            .content__right .date{
                                width: max-content;
                                font-size: 14px;
                            }
    
                            .content__right h3{

                                margin: 10px 0;
                            }
                    .content__right .item__text{
                        display: flex;
                        flex-direction: column;
                        padding: 0  7%;
                        padding-bottom: 3%;
                    }
                        .content__right .item__text p{

                        }   
                            .content__right .item__text p span{

                            }  
                    .content__right .border{
                        height: 3px;

                    }     


        /* /////////////////////////////////////////////////////////////////////// */

        .Contact{
          
            height: auto;
        }
            
            .Contact__list{
                padding: 10% 0;
               margin: 0;
                flex-direction: column;
            
                align-items: center;
               justify-content: center;
            }
            .Contact__content{
                width: 100%;
                margin-top: 75px;
                display: flex;
            }
                .Forma{
                    width: 75%;
                    display: flex;
                    flex-direction: column;
                }
                    .Forma .inputs{
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                    }
                        .Forma .inputs input{
                            height: 50px;
                            text-align: center;
                            width: 48%;
                            margin-bottom: 20px;
                            font-size: 18px;
                            font-family: "Poppins-Light";
                            font-weight: 400;
                            border: none;
                            border-radius: 5px;
                            background-color: aliceblue;
                        }
                    .Forma textarea{
                        height: 200px;
                        text-align: center;
                        padding-top:10px;
                        font-size: 18px;
                        font-family: "Poppins-Light";
                        font-weight: 400;
                        border: none;
                        border-radius: 5px;
                        background-color: aliceblue;
                    }
                    .Forma button{
                        width: 40%;
                        margin: 0 auto;
                        margin-top: 45px;
                        padding: 10px 30px;
                        border: 0px solid ;
                        border-radius: 40px;
                        font-size: 16px;
                        font-family: "Poppins-Light";
                        font-weight: bold;
                        color: aliceblue;             
                    }
                    .Contact__content .Footer{
                        height: 230px;
                        width: 100%;
                        margin-top: 100px;
                        padding-top: 70px;
                        background-color: #43444b;
                        display: flex;
                        flex-direction: column;
                    }
                    .address.media__link .address__text {
                        display: flex;
                       flex-wrap: wrap;
                     
                       
                    }
                    .address.media__link svg {
                        width: 25px;
                        height: 25px;
                        margin-bottom: 10px;
                    }


        /* /////////////////////////////////////////////////////////////////////// */
    .Team{
        padding: 100px 0;
    }
    .Team__item{
        width: 100%;
        height: 280px;
        margin-bottom: 30px;
        align-items: flex-start;
        border-bottom: 5px solid;
    } 
        .item__quest_ire{
            position: relative;
            flex-direction: column;
        
            width: 35%;
        
        }
        .item__members{
            display: flex;
                flex-direction: column;
           width: 65%;
           height: 100%;
           padding: 20px;
           padding-left: 40px;
        }
            .item__members .Name{
                font-weight: bold;
                margin-bottom: 12px;
            }
            .item__members .Text{
                font-size: 14px;
            }
        .item__cont .item-border{
           display: none;
        }  
             
    .Team__members{
        display: none;
    }
        

    .Subs {
        display: none;
    }

}
@media screen and (max-width: 700px) {
    
    .stop-scrolling {
      
      }
    
    h2{
       
    } 
    p{
       
    }
    .block-header h2{
        font-size: 30px;
    }
    .block-header h2,.block-header p {
      
    }
    .block-header p{
       font-size: 15px;
    }
     .cont-mid{
       
    }
    .fd-row{
      
    }
    .fd-col{
       
    }
    .section_block{
        
    }
    .header{
       
    }
    .header-cont{
      
    }
        .logo{
          
        }
            .logo p{
               
            }
                .logo p span{
                   
                }
        .list-items{
         
        }
            .list-items ul{
                
            }
                .list-items ul li{
                   
                }
                .list-items ul li:last-child{
                   
                }
                .list-items ul li i{
                    
                }
                .list-items ul li:hover:last-child i{
                
                }
    
                .list-items ul li:hover:not(:last-child){
                   
                }
    /* /////////////////////////////////////////////////////////////////////// */
    
    
    .menu__burger{
      
    }
        .menu__burger.active{
          
           
        }
        .menu__burger.anim_on{
            
           
        }
        .menu__burger ul{
            
        }
        .menu__burger ul.anim_on{
          
           
        }
            .menu__burger ul li{
               
            }
            .menu__burger ul li:active{
               
            }
    
    
    
    
    
    /* /////////////////////////////////////////////////////////////////////// */
    
    .Home{
       min-height: 720px;
    }          
        .Home__list{
            
        }
            .Home__list h1{
               font-size: 40px;
            }
            .Home__list input{
                padding: 12px 35px;
                font-size: 15px;
            }
            .Home__features__list{
               margin-top: 50px;
           
            }
                .feature__item{
                    
                }
                    .feature__item svg{
   
                    }
                    #my-1-icon path,#my-2-icon path,#my-3-icon path{
                       
                    }
                    .feature__item .text{
                       
                    }
                    .feature__item .text p{
                      
                    }
                    .home-svg-1{
                       
                    }
                    .home-svg-2{
                      
                    }
                    .home-svg-3{
                       
                    }
    
    /* /////////////////////////////////////////////////////////////////////// */
    
    .AboutUS{
      
    }
        .AboutUS__list{
          
        }
            .AboutUS .item__one{
                width: 100%;
            }
            .AboutUS .item__two{
               width: 100%;
            }
            .item__text{
              
            }
                
                .item__text p{
                font-size: 15px;
                }
                .AboutUS .item__two .item__text h2{
                   font-size: 28px;
                }
            .item__border{
                
            }
                .border{  
                  
                }
                    .color1{
                       
                    }
                    .color2{
                        
                    }
                    .color3{
                      
                    }
                    .color4{
                        
                    }
                    .color-svg-1{
                        
                    }
                    .color-svg-2{
                        
                    }
                    .color-svg-3{
                       
                    }
                    .color-svg-4{
                        
                    }
                    
    
    /* /////////////////////////////////////////////////////////////////////// */
    
    .Services{
       
    }
        .Services__list__header{
            
        }
            .Services__list__items{
                margin-top: 60px;
            }
                .Services__item{
                    width: 100%;
                } 
    
                .Services-items .item:hover{
                  
                }
                    .Services__item svg{
                       
                    }
                    .Services__item h3{
                      
                    }
                    .Services__item .item-text{
                     
                    }  
                    .Services__item .item-border{
                       
                    } 
                                            
     /* /////////////////////////////////////////////////////////////////////// */

    .VideoBG{
       height: auto;
       min-height: 340px;
    }
            .VideoBG__list__header{
                
            }
                .VideoBG__list__header h2{
                   font-size: 25px;
                }
            .VideoBG__icon{
               height: 65px;
               width: 65px;
            }
            .VideoBG__text{

            }
    
     /* /////////////////////////////////////////////////////////////////////// */
    
    .Portfolio{
       
    }
    .Portfolio__list{
        
    }
    
    .Portfolio__items__list{
        margin-top: 60px;
    }
        .Portfolio__item{
           background-size: cover !important;
            height: 320px;
            width: 70%;
        } 
            .Portfolio__item .item__background{
               
            }
            .Portfolio__item:hover .item__background{
               
            }
            
            .Portfolio__item .item__cont{
                
            }   
            .Portfolio__item:hover .item__cont{
                
            } 
                .Portfolio__item .cont-border{
                    
                }    
                    .cont-border .border-color{
                       
                    }  
                .Portfolio__item .cont__text{
                   
                   
                }  
            
    
    /* /////////////////////////////////////////////////////////////////////// */
    
    .Team{
       padding-bottom: 0;
    }
    .Team__list{
        
    }
    .Team__items__list{
        margin-bottom: 60px;
    }
        .Team__item{
            flex-direction: column;
            height: auto;
        } 
            .item__border_color1{
               
            }
            .item__border_color2{
              
            }
            .item__border_color3{
           
            }
            .item__border_color4{
                
            }
            .item__quest_ire{
                width: 100%;
            }
            .item__members{
                width: 100%;

                padding: 16px;
                padding-top: 0;
            }
            .item__members .Name {
                display: none;
            }
            
            .Team__item .item__image{
                height: auto;
                min-height: 200px;
            }  
            .Team__item .item__cont{
               position: relative;
               height: auto;
               padding: 15px 0;
            }  
                .Team__item .item-border{
                   
                }    
                .Team__item  .item__cont .item__text{
                   padding: 0;
                }  
                .Team__item  .item__cont p{
                   
                } 
                .Team__item  .item__cont p:last-child{
                 
                } 
    .Team__members{
       
    }
    .Team__members .Team__triangle{
      
    }
        .Team__members__conts{
           
        }
            .Team__members__conts .left__cont{
               
            }
                .Team__members__conts .left__cont .Name{
                    d
                }
                .Team__members__conts .left__cont .Text{
                   
                }
    
    
            .Team__members__conts .right__cont{
              
            }
                .Team__members__conts .right__cont hr{
                   
                }
                .Team__members__conts .right__cont .text__list{
                   
                }
                    .Team__members__conts .text__list .text__item{
    
                    }
                        .Team__members__conts .text__item svg{
                           
                        }
                        .Team__members__conts .text__item p{

                        }
    
    
    
    
    
    /* /////////////////////////////////////////////////////////////////////// */
    .Stats{
        
    }   
        
        .Stats__list__items{
          
        }
            .Stats__item{
               
            }
                .Stats__item svg:first-child{
                   
                }
                .Stats__item svg:last-child{
  
                }
                .Stats__item .count{
                   
                }
                .Stats__item p{
                   
                }
    
    
    
    
    
    /* /////////////////////////////////////////////////////////////////////// */
    .WeWork{
       
    }
    .WeWork__list{
       
    }
    .WeWork__conts{
       
    }
        .WeWork__images{
           
        }
            .WeWork__image{
                
            }
        .WeWork__texts{
            
        }
            .WeWork__text{
                
            }
            .WeWork__text:nth-child(1),.WeWork__text:nth-child(3){
                
            }
            .WeWork__text:nth-child(2),.WeWork__text:nth-child(4){
               
            }
            
                .WeWork__text .text{
                    
                }
                    .WeWork__text h3{
                       
                    }
                .WeWork__text .border{
    
                } 
    
    
    
    /* /////////////////////////////////////////////////////////////////////// */
    
    
    .Pricing{
    
    }
    .Pricing__list{
     
    }
        .Packs{
          justify-content: center;
        }
            .Pack__item{
                width: 70%;
            }
            .Pack__item .border{
              
               
            }
            .Pack__item .TextandPrice{
        
            }
                .TextandPrice h3{
                    
                }
                .TextandPrice p{
                   
                }
                    .TextandPrice b{
                        
                        
                    }
                    .TextandPrice p span{
                      
                    }
                .TextandPrice button{
                   
                }
                .TextandPrice svg{
                
                }
              
    
    /* /////////////////////////////////////////////////////////////////////// */
    
    
    .Testimonials{
      
    }
        .Testimonials .block-header h2,.Testimonials .block-header p{
           
        }
        .Testimonials__list{
            padding-bottom: 18%;
        }
        .Testimonials__cont{
            height: auto;
            max-height: auto;
           flex-direction: column;
        }
        .Testimonials__foto{
            height: auto;
           min-height: 300px;
           width: 100%;
           background-position: 50% 25%;
        }
        .Testimonials__text{
            width: 100%;
        }
        .Testimonials-cont-text .border{
          
        }
        .Testimonials__text .text{
           
        }
        
        .Testimonials__text svg{
          
        }
        .Testimonials__text .text p{
          
        }
        .Testimonials__text h3{
           
        }
        .Testimonials__text .post{
           
        }
        .Testimonials__text .border{
          
        }
        .CheckboxsP-A{
           
        }
        .CheckboxsP-A input{
     
        }
        .CheckboxsP-A input[type="checkbox"]:checked{
           
        }
        .CheckboxsP-A input[type="checkbox"]:checked::after{
           
        }
                
    
    /* /////////////////////////////////////////////////////////////////////// */
    .WSU{
        
    }
        .WSU .block-header h2,.Testimonials .block-header p{
            
        }
        .WSU__content{
           margin-top: 60px;
        }
        .WSU__items{
            
        }
            .WSU__item{
                width: 100%;
                flex-direction: row;
                padding: 30px;
                background-color: #f9fcff;
            }
                .WSU__item .item__header{
                    width: 20%;
                    flex-direction: column;
                    margin: 0;
                    align-items: center;
                }
                    .WSU__item .item__header svg{
                        width: 80px;
                        height: 80px;
                        margin: 0;
                    }
                    .WSU__item .item__header svg use{
                       
                    }
                    .WSU__item .item__header p{
                        margin-top: 10px;
                        text-align: center;
                    }
                    .WSU__item:first-child{
                      
                    }
                    .WSU__item .text {
                        padding: 0;
                        display: flex;
                        align-items: center;
                        padding-left: 15px;
                        text-align: justify;
                    }
        .WSU-CallAction{
            
        }
            .WSU-CallAction p{
               
            }
            .WSU-CallAction button{
              
            }
            
    
    
    /* /////////////////////////////////////////////////////////////////////// */
    
    
    .Blog{
        
    }
        .Blog__list{
          
        }
        .Blog__content{
            
        }
            .content__left{
               
            }
                .content__left .foto{
                    
                }
                    .content__left .foto-img{
                       
                    }
                    .content__left .foto-data{
                      
                    }
                        .content__left .name{
                           
                        }
                        .content__left .date{
                           
                        }
                .content__left .text{
                   
                }
                    .content__left h3{
                      
                    }
                    .content__left .text p{
                      
                    }
                    .content__left .border{
                       
                    }
            .content__right{
               
            }
                .content__right .item{
                   
                }
                    .content__right .item__header{
                      
                    }
                        .content__right .item__data{
                           
                        }
                            .content__right .name{
                                
                            }
                            .content__right .date{
                               
                            }
    
                            .content__right h3{
                                
                            }
                    .content__right .item__text{
                       
                    }
                        .content__right .item__text p{
                            
                        }   
                            .content__right .item__text p span{
                                
                            }  
                    .content__right .border{
                    
                    }     
                    
                    
    /* /////////////////////////////////////////////////////////////////////// */
    
    .Subs{
      
    }
        .Subs-center{
            
        }
        .Subs__content{
            
        }
            .Subs__header{
                
            }
                .Subs__email{
                   
                }
                .Subs__email input{
                    
                }
                .Subs__email .email{
                   
                }
                .Subs__email .button{
                  
                }
    
    
    /* /////////////////////////////////////////////////////////////////////// */
    
    
    .Contact{
        
    }
        
        .Contact__list{
           
        }
        .Contact__content{
          margin-top: 60px;
        }
            .Forma{
              width: 85%;
            }
                .Forma .inputs{
                    
                }
                    .Forma .inputs input{
                        
                    }
                .Forma textarea{
                   
                }
                .Forma button{
                         
                }
                .Contact__content .Footer{
                    height: auto;
                    min-height: 250px;
                    margin-top: 0px;
                    padding-top: 0px;
                    position: relative;
                }
                    .Footer .Footer__content{
                       
                    }   
                        .Footer__content .logo,.Footer__content .address {
                          
                        }
                        .Footer__content .logo{
                            height: 100%;
                        }
                            .Footer__content .logo p{
                               
                            }
                        .Footer__content .address{
                            
                        }
                            .address .address__content{
                               
                            }
                            .address p{
                               
                            }
                            .address .address__header{
                                
                            }
                                .address__header p{
                                    
                                }
                            .address__text{
                               
                            }
                                .address__text p{
                                   
                                }
                            .address.media__link .address-text{
                               
                            }
                            .address.media__link svg{
                                
                            }
                    .Footer-border{
                       height: 3px;
                    }
                    .Footer-border .border-color{
                       
                    }
}